{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% csrf_token %}
<script type="text/javascript">
    function startGame(){
        $.ajax({
            url : "http://localhost:8000/api/",
            dataType: "json",
            success : function (data) {
                document.getElementById("message").innerHTML = (data.message);
                var message = $('#message').text( data.message);
			    var board = $('#board').text( data.board);
			    var lifes = $('#lifes').text( data.lifes);
			    var used_letters = $('#used_letters').text( data.used_letters);

			    $( "#result" ).replaceWith( message );
			    $( "#board" ).append( board );
			    $( "#lifes" ).append( lifes );
			    $( "#used_letters" ).append( used_letters );
            }
        });
    }

    function sendLetter() {
        var json = {letter: $("#letter").val().toString()}
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

        $.ajax({
            url: 'http://localhost:8000/api/',
            type: 'post',
            data: JSON.stringify(json),
            headers: {
                "X-CSRFToken": $crf_token,
                "Content-Type": 'application/json'
            },
            dataType: 'json',
            success: function (data) {
                var message = $('#message').text( data.message);
			    var board = $('#board').text( data.board);
			    var lifes = $('#lifes').text( data.lifes);
			    var used_letters = $('#used_letters').text( data.used_letters);

			    $( "#result" ).replaceWith( message );
			    $( "#board" ).append( board );
			    $( "#lifes" ).append( lifes );
			    $( "#used_letters" ).append( used_letters );

			    $("#letter").val('')
            }
        });
    }
</script>

<body onload="startGame()">
    <div id="jsonresp" style="margin-top: 100px">
        <p><span id="message"></span></p>
    </div>

    <input id="letter" type="text" name="letter" placeholder="Letter...">
    <button id="play" value="Play" onclick="sendLetter()">Play</button>

    <div  style="margin-left: 30px">
        <div id="result"></div>
        <div id="board"></div>
        <div class="row">Lifes :
            <div id="lifes"></div>
        </div>
        <div id="used_letters"></div>
    </div>
</body>